modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
EXPO_PUBLIC_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1ndmZ2bWNqdXViZXZncWFjbWRuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI3MjYwNTMsImV4cCI6MjA5ODMwMjA1M30.iszyOZtGf7thBDAdKQvAF_Ej2wZdJ_ThTcxvA2AGInM"
EXPO_PUBLIC_SUPABASE_URL = "https://mgvfvmcjuubevgqacmdn.supabase.co"
